body {
  margin: 50px 150px 150px 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  background: #D3EBCD;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
  margin: auto auto;
  padding: 10px;
  color: #610C63;
  font-variant: small-caps;
  font-family: sans-serif;
}

h2 {
  margin: auto auto;
  padding: 10px;
  color: #610C63;
  font-variant: small-caps;
  font-family: sans-serif;
}

p {
  font-size: 18px;
  margin: auto auto;
  padding: 10px;
  color: black;
  font-variant: small-caps;
  font-family: sans-serif;
}

.nav-link, .link, .btn {
  color: black;
  font-weight: bold;
}

.nav-link:hover, .link:hover {
  color: red;
  font-weight: bold;
  text-decoration: none;
}

.nav {
  justify-content: flex-end;
  font-size: 25px;
  font-variant: small-caps;
}

.icon {
  padding: 10px;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.project-title {
  background-color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.project-icons {
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.box {
  background-color: #839AA8;
  border-radius: 2px;
  height: 500px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.box>.img-container {
  height: 40%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: #839AA8;
}

.box>.img-container>img {
  width: 100%;
  padding: 25px;
  background-color: #839AA8;
}

.box>.content {
  padding-right: 1rem;
  font-size: 18px;
  background-color: #839AA8;
  color: #610C63;
  font-weight: bold;
}

.box>.content>ul {
  list-style-type: none;
  background-color: #839AA8;
}

.box>.content>ul>li {
  margin-top: 18px;
  background-color: #839AA8;
}

#portfolio-icon {
  margin: 0px 20px;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.contact-form {
  border-radius: 50px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 50px;
  margin-left: 450px;
  margin-right: 450px;
  margin-bottom: 50px;
}

.resume-container {
  margin: 20px 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 18px;
  font-variant: small-caps;
}

@media screen and (max-width: 767px) {
  p, .resume-container {
    font-size: 20px;
  }

  .resume {
    font-size: 24px;
  }

  .nav {
    justify-content: flex-end;
    font-size: 22px;
  }

  .contact-icons, .icon-text {
    margin: auto 50%;
  }
}
